asn1crypto==1.2.0
beautifulsoup4==4.8.0
blinker==1.4
brotlipy==0.7.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==6.7
cryptography==3.2
h11==0.7.0
h2==3.1.1
hpack==3.0.0
hyperframe==5.2.0
idna==2.8
kaitaistruct==0.8
ldap3==2.5.2
mitmproxy==8.0.0
passlib==1.7.2
pyasn1==0.4.8
pycparser==2.19
pydivert==2.1.0
pyOpenSSL==18.0.0
pyparsing==2.2.2
pyperclip==1.6.5
requests==2.22.0
ruamel.yaml==0.15.100
six==1.13.0
sortedcontainers==2.0.5
soupsieve==1.9.5
tornado==5.1.1
urllib3==1.26.5
urwid==2.0.1
wsproto==0.11.0
